body {
    font-family: 'Poppins', sans-serif;
}

.bg-color {
    background-image: url(images/donation13.jpg);
    padding: 0px;
    margin: 0px;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;

}


.edit-text {

    padding: 100px;
    color: white;
    font-size: 30px;
    text-align: center;

}

.link-button {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(rgb(243, 138, 138), tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}

.donate-tittle {

    text-align: center;
    margin-bottom: 25px;



}

.donate-plan {
    margin-top: 50px;
    padding: 20px;
}

.three-partition {
    display: flex;
}

.card-1 {
    width: 400px;
    height: 350px;
    background-color: rgb(159, 206, 209);
    padding: 20px;
    margin-left: 10px;
    border-radius: 8px;

}

.card-2 {
    width: 400px;
    height: 350px;
    background-color: rgb(241, 196, 234);
    padding: 20px;
    margin-left: 10px;
    border-radius: 8px;

}

.card-3 {
    width: 400px;
    height: 350px;
    background-color: lightgoldenrodyellow;
    padding: 20px;
    margin-left: 10px;
    border-radius: 8px;

}

.donate-tittle {

    text-align: center;
    margin-bottom: 25px;


}

.donate-today-tittle {
    text-align: center;
    padding: 20px;
}

.partition-1 {
    width: 65px;
    height: 60px;
    background-color: rgba(236, 244, 245, 0.952);
    padding: 20px;

    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;


}

.partition-2 {
    width: 65px;
    color: red;
    height: 60px;
    border: 2px solid red;
    background-color: rgb(238, 195, 202);
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;


}

.partition-3 {
    width: 65px;
    height: 60px;
    background-color: rgba(236, 244, 245, 0.952);
    padding: 20px;

    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;


}

.partition-4 {
    width: 65px;
    height: 60px;
    background-color: rgba(236, 244, 245, 0.952);
    padding: 20px;

    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;


}

.partition-5 {
    width: 65px;
    height: 60px;
    background-color: rgba(236, 244, 245, 0.952);
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;


}

.donate-today {
    margin-top: 50px;
    padding: 20px;

}

.five-partition {
    display: flex;
    justify-content: center;
}

.input-amount {
    text-align: center;

    width: 50%;
    justify-content: center;
    margin-left: 320px;
}

.about-us {
    margin-top: 50px;
    padding: 20px;


}

.work-title {
    color: white;
}

.about-work {
    width: 800px;
    margin: 0 auto;
    height: 400px;
    background-image: url("images/donation9.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
}

.my-update {
    text-align: center;

    width: 50%;
    justify-content: center;
    margin-left: 320px;
}

.box {
    background-size: cover;
    position: absolute;
    text-align: center;
    width: 50%;
    margin-left: 350px;
    padding: 20px;
    background-color: rgb(190, 97, 97);
}

footer {
    background-color: black;
    text-align: center;
    padding: 50px;
    margin-top: -10px;
    margin-top: 70px;
}

footer p {
    color: white;
    font-size: 10px;
    margin-bottom: 10px;
}

footer h1 {

    color: red;
}